@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
/* For The Left Side Bar  */
.sidebar {
  height: 100vh;
  width: 17%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* Left Side Bar Top side  */
.topside {
  width: 12%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

#ham_img {
  width: 25px;
  margin-left: 20px;
  margin-top: 30px;
}
#logo_img {
  width: 130px;
  margin-left: 20px;
  margin-top: 30px;
}

.threebut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  justify-content: space-evenly;
}
#home {
  display: flex;
  flex-direction: row;
  margin-top: -5px;

  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}
#home_img {
  width: 25px;
  position: absolute;
  margin-top: -13px;
  margin-left: -39px;
}
#explore {
  display: flex;
  flex-direction: row;
  margin-top: 15px;

  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}
#explore_img {
  width: 25px;
  position: absolute;
  margin-top: -11px;
  margin-left: -29px;
}
#shorts {
  display: flex;
  flex-direction: row;
  margin-top: 15px;

  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}
#short_img {
  width: 25px;
  position: absolute;
  margin-top: -10px;
  margin-left: -40px;
}

#subscription {
  display: flex;
  flex-direction: row;
  margin-top: 15px;

  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}
#subscription_img {
  width: 25px;
  position: absolute;
  margin-top: -12px;
  margin-left: -20px;
}
#one {
  background-color: black;
  color: black;
  margin-top: 5px;
}
#two {
  background-color: black;
  color: black;
  margin-top: 5px;
}
.fourbutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  justify-content: space-evenly;
}
#library {
  display: flex;
  flex-direction: row;
  margin-top: 15px;

  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}
#library_img {
  width: 25px;
  position: absolute;
  margin-top: -12px;
  margin-left: -37px;
}
#history {
  display: flex;
  flex-direction: row;
  margin-top: 15px;

  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}
#history_img {
  width: 25px;
  position: absolute;
  margin-top: -12px;
  margin-left: -37px;
}
#yourvideo {
  display: flex;
  flex-direction: row;
  margin-top: 15px;

  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}
#yourvideo_img {
  width: 25px;
  position: absolute;
  margin-top: -12px;
  margin-left: -25px;
}
#watchlater {
  display: flex;
  flex-direction: row;
  margin-top: 15px;

  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}
#watchlater_img {
  width: 25px;
  position: absolute;
  margin-top: -12px;
  margin-left: -24px;
}
#likedvideo {
  display: flex;
  flex-direction: row;
  margin-top: 15px;

  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}
#likedvideo_img {
  width: 25px;
  position: absolute;
  margin-top: -12px;
  margin-left: -20px;
}
#showmore {
  display: flex;
  flex-direction: row;
  margin-top: 15px;

  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}
#showmore_img {
  width: 25px;
  position: absolute;
  margin-top: -12px;
  margin-left: -24px;
}

.people {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  justify-content: space-evenly;
}
/* Text Alignment */
#txt1 {
  margin-left: 20px;
}
#txt2 {
  margin-left: 30px;
}
#txt3 {
  margin-left: 20px;
}
#txt4 {
  margin-left: 20px;
}
#txt5 {
  margin-left: 20px;
}
#txt6 {
  margin-left: 20px;
}
#txt7 {
  margin-left: 20px;
}
#txt8 {
  margin-left: 20px;
}
#txt9 {
  margin-left: 20px;
}
#txt10 {
  margin-left: 20px;
}

/* Subscription Part  */
#nadir {
  display: flex;
  flex-direction: row;
  margin-top: 15px;

  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}
#nadir_img {
  width: 25px;
  position: absolute;
  margin-top: -12px;
  margin-left: -34px;
}

#nadir_txt {
  margin-left: 20px;
}
#coke {
  display: flex;
  flex-direction: row;
  margin-top: 15px;

  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}
#coke_img {
  width: 25px;
  position: absolute;
  margin-top: -12px;
  margin-left: -24px;
}

#coke_txt {
  margin-left: 20px;
}

#mkb {
  display: flex;
  flex-direction: row;
  margin-top: 15px;

  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}
#mkb_img {
  width: 25px;
  position: absolute;
  margin-top: -12px;
  margin-left: -58px;
}
#mkb_txt {
  margin-left: 20px;
}

#figma {
  display: flex;
  flex-direction: row;
  margin-top: 15px;

  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}
#figma_img {
  width: 25px;
  position: absolute;
  margin-top: -12px;
  margin-left: -69px;
}
#figma_txt {
  margin-left: 20px;
}

#atc {
  display: flex;
  flex-direction: row;
  margin-top: 15px;

  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}
#atc_img {
  width: 25px;
  position: absolute;
  margin-top: -12px;
  margin-left: -13px;
}
#atc_txt {
  margin-left: 20px;
}

#alux {
  display: flex;
  flex-direction: row;
  margin-top: 15px;

  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}
#alux_img {
  width: 25px;
  position: absolute;
  margin-top: -12px;
  margin-left: -59px;
}
#alux_txt {
  margin-left: 20px;
}
/* Subscription Complete */
/* Top Search Bar  */
.searchbar {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  margin-left: 350px;
  width: 60%;

  margin-top: 50px;
}
#search_inp {
  background-color: white;
  width: 400px;
  height: 35px;
  text-align: start;
  margin-left: 151px;
  border: 1px solid black;
}
/* Search Bar Icons */
#search_img {
  margin-left: 28px;
}
#sea {
  width: 30px;
}
#voice {
  margin-left: 27px;
  margin-top: 2px;
}
#voi {
  width: 30px;
}
#textattop {
  text-align: left;
}
.tv {
  position: absolute;
  margin-left: 850px;
}
.more {
  position: absolute;
  margin-left: 930px;
}

#bell {
  position: absolute;
  margin-left: 1009px;
}

#user {
  position: absolute;
  margin-left: 1095px;
}

#tv_img {
  width: 30px;
}
#more_img {
  width: 30px;
}
#bell_img {
  width: 30px;
}
#user_img {
  width: 30px;
}
.body {
  width: 82%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  margin-top: 123px;
  margin-left: 258px;
  top: 0;
}
#bulbuli {
  position: relative;
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.bulbuli_img {
  width: 300px;
}
#bulbuli_text {
  width: auto;
  font-size: 16px;
}

#brand {
  font-size: 13px;
  opacity: 0.8;
}
#view {
  font-size: 9px;
  opacity: 0.7;
}
.textbox{
  position: absolute;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  top: 0;
  margin-top: 110px;
  margin-left: 220px;
}